{% extends "base.njk" %}

{% block titulo %}Libros | Listado{% endblock %}

{% block contenido %}

    <h1>Listado de libros</h1>

    <table width="100%">
        {% for libro in libros %}
            <tr>
                {% if loop.index % 2 == 0 %}
                    <td class="par">{{ libro.titulo }}</td>
                {% else %}
                    <td class="impar">{{ libro.titulo }}</td>
                {% endif %}
                <td><a class="btn btn-success" href="/libros/{{ libro.id }}">Ver ficha</a></td>
            </tr>
        {% else %}
            <tr><td>No hay libros que mostrar.</td></tr>
        {% endfor %}
    </table>

{% endblock %}

