<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/estilos.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Listado de libros</h1>
            <div>
                <table>
                    {% for libro in libros %}
                        <tr>
                            {% if loop.index % 2 == 0 %}
                                <td class="par">{{ libro.titulo }}</td>
                            {% else %}
                                <td class="impar">{{ libro.titulo }}</td>
                            {% endif %}
                            <td><a class="btn btn-success" href="/libros/{{ libro.id }}">Ver ficha</a></td>
                        </tr>
                    {% else %}
                        <tr><td>No hay libros que mostrar.</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>